.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 10%;
  background-color: rgb(15, 15, 15);
}

.link {
  color: white;
  /* color: black; */
  text-decoration: none;
}

.logo{
  display: flex;
  align-items: center;
  /* justify-content: ; */
}

.muted{
  color: grey;
}